:root{
    --color-hover: red;
    --animation-duration: 2s;
    /* --border-color-hover: hsl(from cyan h s 40% ); */
}

body{
    background-color: hsl(216, 29%, 27%);
    font-family: monospace;
}

header{
    display:flex;
    justify-content: space-between;
    color:white;
    font-size: 1.5em;
    position: fixed;
    background-color: rgba(0,0,0,.2);
    width: 100%;
    padding: 1em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

header.invisible{
    /* display: none; */
    opacity: 0;
}

header > div{
    animation: dingding 2s ease-in 0s alternate infinite;
    opacity: 0;
}

header > div:first-child{
    animation-delay: 2s;
}

@keyframes dingding {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
 

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#campana{
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 250ms ease-in-out, background-color 1000ms ease-in-out;
}

#campana > div {
    transition: background-color 1000ms ease-in-out, border-color 1000ms ease-in-out;
}

#anilla{
    position: relative;
    top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: orange; */
    border: 10px solid orange;
}

#cuerpo{
    border-radius: 50% 50% 0 0;
    width: 150px;
    height: 200px;
    background-color: orange;
}

#cinturon{
    border-radius: 20px;
    width: 250px;
    height: 50px;
    background-color: orange;
    border: 2px solid darkorange;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}

#badajo{
    position: relative;
    bottom: 37px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: orange;
    z-index: -1;
}

#campana:hover{
    /* background-color: cyan; */
    transform: scale(1.1);
}



#campana:hover > #anilla{
    border-color: var(--color-hover);
}

#campana:hover > #badajo,
#campana:hover > #cuerpo,
#campana:hover > #cinturon
{
    background-color: var(--color-hover);
}

#campana:hover > #cinturon{
    border-color: hsl(from var(--color-hover) h s 40% );
}

/* * {
    border: 1px solid magenta
} */

#campana{
    transform-origin: 50% 5%;
    animation: dingdong var(--animation-duration) ease-in-out 0s alternate infinite;
}

@keyframes dingdong{
    0% {
        transform:rotate(45deg);
    }
    100%{
        transform:rotate(-45deg);
    }
}

#badajo{
    animation: dongding 2s ease-in-out 0s alternate infinite;
}

@keyframes dongding {
    0%{
        left: 50px;
    
    }
    95%{
        left: -50px;
    }
    100%{
        left: -50px;
    }
}

